@model List<ChampionShipViewModel>

@{
    ViewBag.Title = "All Championships";
}

<h2 class="text-center">@ViewBag.Title</h2>
@if (User.IsInRole($"{CoachRoleName}") || User.IsInRole($"{PlayerRoleName}"))
{
    <a class="fs-6 btn btn-success mb-3 p-2" asp-area="" asp-controller="ChampionShip" asp-action="Add">Add Championship</a>
}

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Championship</th>
            <th scope="col"></th>
            @if (User.IsInRole($"{CoachRoleName}") || User.IsInRole($"{PlayerRoleName}"))
            {
                <th scope="col"></th>
                <th scope="col"></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var championShip in Model)
        {
            <tr>
                <td>@championShip.Name  - @championShip.Year</td>
                <td>
                    <a class="fs-6 btn btn-success mb-3 p-2" asp-area="" asp-controller="ChampionShip" asp-action="GetDetails" asp-route-id="@championShip.Id">Details</a>
                </td>
                @if (User.IsInRole($"{CoachRoleName}") || User.IsInRole($"{PlayerRoleName}"))
                {
                    <td>
                        <a class="fs-6 btn btn-success mb-3 p-2" asp-area="" asp-controller="ChampionShip" asp-action="Edit" asp-route-id="@championShip.Id">Edit</a>
                    </td>
                    <td>
                        <form class="input-group-sm" asp-controller="ChampionShip" asp-action="Delete" asp-route-id="@championShip.Id">
                            <input class="fs-6 btn btn-danger mb-3 p-2" type="submit" value="Delete" />
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>