@model ChampionShipDetailsViewModel

@{
    ViewBag.Title = @Model.Name;
}

<h2 class="text-center">@ViewBag.Title</h2>

@if (Model.Teams.Any())
{
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col"><h5>Rank</h5></th>
                <th scope="col"><h5>Team</h5></th>
                <th scope="col"><h5>Wins</h5></th>
                <th scope="col"><h5>Loses</h5></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Teams.Count; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@Model.Teams[i].Name</td>
                    <td>@Model.Teams[i].WinGames</td>
                    <td>@Model.Teams[i].LoseGames</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.Games.Any())
{
    <h3 class="text-center">Games</h3>

    <partial name="_GamePartial" model="@Model.Games" />
}

@if (!Model.Teams.Any() && !Model.Games.Any())
{
    <h6 class="text-center">No information is added for this championship</h6>
}



