@model TeamDetailsViewModel

@{
    ViewBag.Title = @Model.Name;
}

<h2 class="text-center">@ViewBag.Title</h2>


<p class="text-center"><strong>Home color:</strong> @Model.HomeColor</p>
<p class="text-center"><strong>Away color:</strong> @Model.AwayColor</p>
<p class="text-center"><strong>Win games:</strong> @Model.WinGames</p>
<p class="text-center"><strong>Lose games:</strong> @Model.loseGames</p>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Number</th>
            <th scope="col">Position</th>
            <th scope="col">Bat</th>
            <th scope="col">Glove</th>
            <th scope="col">ThrowHand</th>
            <th scope="col">BattingAverage</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model.Players)
        {
            <tr>
                <td>@player.Name</td>
                <td>@player.Number</td>
                <td>@player.Position</td>
                <td>@player.Bat</td>
                <td>@player.Glove</td>
                <td>@player.ThrowHand</td>
                <td>@player.BattingAverage</td>
                <td>
                    <a class="fs-6 btn btn-success mb-3 p-2" asp-area="" asp-controller="Player" asp-action="Edit" asp-route-id="@player.Id">Edit</a>
                </td>
                <td>
                    <form class="input-group-sm" asp-controller="Player" asp-action="Delete" asp-route-id="@player.Id">
                        <input class="fs-6 btn btn-danger mb-3 p-2" type="submit" value="Delete" />
                    </form>
                </td>
                <td>
                    <a class="fs-6 btn btn-success mb-3 p-2" asp-area="" asp-controller="Player" asp-action="MakePlayerFreeAgent" asp-route-id="@player.Id">Make him free agent</a>
                </td>
            </tr>
        }
    </tbody>
</table>
