@model EditGameViewModel

@{
    ViewBag.Title = "Update Game";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Edit" method="post">
            <div class="mb-3">
                <label asp-for="@Model.ChampionShipId" class="form-label">Championsip</label>
                <select asp-for="@Model.ChampionShipId" class="form-control">
                    @foreach (var championShip in Model.ChampionShips)
                    {
                        <option value="@championShip.Id">@championShip.Name</option>
                    }
                </select>
                <span asp-validation-for="ChampionShipId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.AwayTeamId" class="form-label">Away Team Name</label>
                <select asp-for="@Model.AwayTeamId" class="form-control">
                    @foreach (var team in Model.Teams)
                    {
                        <option value="@team.Id">@team.Name</option>
                    }
                </select>
                <span asp-validation-for="AwayTeamId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.HomeTeamId" class="form-label">Home Team Name</label>
                <select asp-for="@Model.HomeTeamId" class="form-control">
                    @foreach (var team in Model.Teams)
                    {
                        <option value="@team.Id">@team.Name</option>
                    }
                </select>
                <span asp-validation-for="HomeTeamId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Stadium" class="form-label">Stadium</label>
                <input asp-for="@Model.Stadium" class="form-control" aria-required="true" />
                <span asp-validation-for="Stadium" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.InningPlayed" class="form-label">Innings played</label>
                <input asp-for="@Model.InningPlayed" class="form-control" aria-required="true" />
                <span asp-validation-for="InningPlayed" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.AwayTeamRuns" class="form-label">Away Team Runs</label>
                <input asp-for="@Model.AwayTeamRuns" class="form-control" aria-required="true" />
                <span asp-validation-for="AwayTeamRuns" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.HomeTeamRuns" class="form-label">Home Team Runs</label>
                <input asp-for="@Model.HomeTeamRuns" class="form-control" aria-required="true" />
                <span asp-validation-for="HomeTeamRuns" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.AwayTeamHits" class="form-label">Away Team Hits</label>
                <input asp-for="@Model.AwayTeamHits" class="form-control" aria-required="true" />
                <span asp-validation-for="AwayTeamHits" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.HomeTeamHits" class="form-label">Home Team Hits</label>
                <input asp-for="@Model.HomeTeamHits" class="form-control" aria-required="true" />
                <span asp-validation-for="HomeTeamHits" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.AwayTeamErrors" class="form-label">Away Team Errors</label>
                <input asp-for="@Model.AwayTeamErrors" class="form-control" aria-required="true" />
                <span asp-validation-for="AwayTeamErrors" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.AwayTeamErrors" class="form-label">Away Team Errors</label>
                <input asp-for="@Model.AwayTeamErrors" class="form-control" aria-required="true" />
                <span asp-validation-for="AwayTeamErrors" class="text-danger"></span>
            </div>
            <form class="input-group-sm" asp-controller="Player" asp-action="Edit" asp-route-bookId="@Model.Id">
                <input type="submit" value="Update" class="fs-6 btn btn-success mb-3 p-2" />
            </form>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
